ParallaxViewTest.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ParallaxViewTest.xcodeproj/project.xcworkspace/xcuserdata/migrushin.xcuserdatad/UserInterfaceState.xcuserstate
ParallaxViewTest.xcodeproj/xcuserdata/migrushin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
ParallaxViewTest.xcodeproj/xcuserdata/migrushin.xcuserdatad/xcschemes/ParallaxViewTest.xcscheme
ParallaxViewTest.xcodeproj/xcuserdata/migrushin.xcuserdatad/xcschemes/xcschememanagement.plist
